.header{
    display: flex;
    width: 100%;
    justify-content: space-between  ;
    color: red;
    text-align: center;
    border-top : 5px solid rgb(64, 0, 255);
    border-bottom: 5px solid rgb(64, 0, 255);
    font-size: 30px;
    background-color: rgb(162, 162, 162);
}